<form action="/api/mail/enviar-correo" method="post">

    <label for="email">Ingrese su email para restaurar su contraseña</label>
    <input type="email" id="email" name="email" required>

    <button type="submit">Enviar</button>
</form>