<h1>Bienvenidos!</h1>
<form action="/api/sms" method="post">

    <label for="phone">Ingrese su numero de telefono para comenzar, por favor coloque el codigo pais(ej: +54)</label>
    <input type="string" name="phone" required>

    <button type="submit">Enviar</button>
</form>